*.iml
.gradle
/local.properties
/.idea/
.vscode/
.DS_Store
/build
/app/release/
/captures
.externalNativeBuild
.cxx
local.properties
music_test
.slim/deepwork/
.codegraph/
.ignore
temp/
app/src/main/cpp/loopfinder/.vs/
app/src/main/cpp/loopfinder/build/
run - 副本.bat
